html, body {
    height:100%;
    overflow: hidden;
}

.nav-wrapper i {
    margin: 0 10px;
}

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.side-page-panel {
    width: 100%;
    height: 100%;
}

.left-panel, .right-panel h2 {
    padding-left: 10px;
}

.left-panel, .right-panel {
    background-color: aliceblue;
}



@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }
    .main {
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
    }
}