html, body {
    height:100%;
    overflow: hidden;
}

.nav-wrapper i {
    margin: 0 10px;
}

.main {
    display: flex;
    background: orange;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.side-page-panel {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.left-panel {
    background-color: aliceblue;
}

.right-panel {
    background-color: lightgray;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        text-align: center;
    }
}